	@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: #white;
	margin: 0;
	padding: 0;
	
}

/*Navbar*/

.navbar {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .1rem;
	background: rgba(0, 0, 0, 0.5)!important;
}

.navbar-brand {
	height: 2rem;
}

.navbar-nav li {
	padding: .2rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: white;
	padding-top: .8rem;
}

/*Slider*/

/*.carousel-item {
	height: 100vh;
}*/

.carousel-caption{
	position: absolute;
	top: 40%;
	text-transform: uppercase;

}
.carousel-caption h1 {
	font-size: 4rem;
	font-weight: 700;
	width: 100%;
	letter-spacing: .3rem;
	text-shadow: .2rem .2rem .8rem black;
	padding-bottom: 1rem;
	display: inline;
}

.carousel-caption h3 {
	font-size: 2rem;
	text-shadow: .2rem .2rem .5rem black;
	padding-bottom: 1rem;
}

.btn-lg {
	border-width: medium;
	border-radius: 0;
	font-size: 1.1rem;
}

/* Jumbotron*/
.narrow {
	width: 70%;
	margin: 0 auto;
	padding-top: 2rem;
}

.btn-md {
	border-width: medium;
	border-radius: 0;
	padding: .6rem 1.1rem;
	text-transform: uppercase;
	margin: 1rem;
}

.jumbotron {
	border-radius: 0;
	padding: 3rem 0 2rem;
}

h3.heading {
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 1.5rem;
	padding-top: 0;

}

.programs img {
	max-width: 100%;
	transition: transform .5s ease;
}

.programs img:hover {
	transform:scale(1.1);
	cursor:zoom-in;
}
.programs {
	overflow: hidden;
}

.card {
	margin: 2rem;
}

.image-description {
	bottom: 150px; 
	left: 40%;
	text-transform: uppercase;
	font-size: 1.5rem;
	color: white;
	letter-spacing: 3px;
}

.image-description1 {
	bottom: 150px; 
	left: 25%;
	text-transform: uppercase;
	font-size: 1.5rem;
	color: white;
	letter-spacing: 2px;

}

.about-us {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
.about-page {
	padding-top: 120px;
	padding-bottom: 40px;
	left: 80px;
}

.img-wrap {
	width: 100%;
	top: 150px;
	display: flex;
}

.img-wrap img {
	width: 100%;
	padding-top: 5px;
	border-radius: 50%;
	box-shadow: 0 0 10px #999999;
}

.contact-title h1 {
	font-family: 32px;
	line-height: 10px;
	justify-content: center;


}


.contact-title h1{
	width: 100%;
	height: 150px;
	background-color: gray;
	margin-top: 40px;
	align-items: center;
	left: 20%;
	display: flex;
	color: white;
.
}



.contact-form {
	width: 40%;
	height: 400px;
	display: block;
	overflow: hidden;
	margin: 20px;
	padding: 30px;

}

.form-control {
	margin: 20px;
	width: 40px;
	display: inline;
}
#submit-button {
	
	float: right;
}

footer {
	background-color: #40474e;
	color: white;
	padding-bottom: 15px;	
	text-align: center;
}






/* MEDIA QUERIES*/

@media only screen and (min-width:401px) and (max-width: 960px){
.image-description {
	bottom: 80px; 
	left: 30%;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: white;
	letter-spacing: 1px;
}

.image-description1 {
	bottom: 80px; 
	left: 15%;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: white;
	letter-spacing: 0.5px;
}
}


/*.carousel-caption h3 {
	font-size: 2rem;
	text-shadow: .2rem .2rem .5rem black;
	padding-bottom: 1rem;
}

.btn-lg {
	border-width: medium;
	border-radius: 0;
	font-size: 1.1rem;
}*/

}